Visual Studio files
*.suo
*.user
*.userosscache
.sln.docstates
/.vs/
/bin/
/obj/
/.idea/
/.vscode/

Build results
[ Dd]ebug/
[ Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.zip
*.gz
*.tgz
*.bzip
*.bzip2
*.bak

Other files and folders
bak/
Backup*/
[Tt]humbs.db
[Tt]humbs.db:
*.DS_Store
*.bak
*.exe
*.pdb
*.cache
*.nupkg
*.csproj.user
*.dotCover
.vsconfig
/AppPackages/
/packages/
_ProjectCommonProperties/
MSBuildScratch/
.vsix
/dist/
/Release
*.scc
*.vssscc
*.psess
*.vsp
.vsls.local.
*.vsls.json
*.CodeLensCache
*.vs
*.nuspec
__MACOSX/
.vs/
[Bb]in/
[Oo]bj/
*.log
*.pidb

NuGet
packages/
*.nupkg
*.snupkg

MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.pdf

Visual Studio code coverage results
*.coverage
*.coveragexml

NCover
*.htm
.tmp
ncover/